@use "../../mixins/buttons";
@use "../../variables" as var;

.nanopub-publish {
    text-align: right;
    &__button {
        @include buttons.button--primary;
        padding: 0.2em 0.5em;
        display: inline-block;
    }
}
