<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Protocols</title>
  <style>
      p{
          max-width: 800px;
      }
  </style>
</head>
<body>
    <h1>Testing protocols</h1>
    <p>
        DNA point accumulation for imaging in nanoscale topography (DNA-PAINT) facilitates multiplexing in superresolution microscopy
        but is practically limited by slow imaging speed. We have developed DNA-PAINT-ERS, where E=ethylene carbonate, R=repeating sequence,
        and S=spacer, for fast and multiplexed superresolution imaging with DNA-PAINT. Here we describe detailed procedures for DNA-PAINT-ERS including reagent
        preparation, sample labeling, as well as image acqusition and analysis.
        
        KEYWORDS
        superresolution microscopy, single-molecule localization microscopy, DNA-PAINT, multiplexed imaging, antibody oligonucleotide conjugation,
        immunofluorescence, DNA hybridization
    </p>
    <p>
        COVID-19 pandemic has created unforeseen public health challenges including the disruption of a steady supply of personal protective equipment
        (PPE) for health care workers (HCWs). Several approaches have been evaluated for safe disinfection of used PPEs to allow their selective reuse.
        We have recently shown that Vaporized Hydrogen Peroxide (VHP) is a safe, easy-to-scale up, economical and environment friendly method to disinfect
        PPE (coveralls, N-95 masks and face-shields) without compromising their quality and integrity even after repeated cycles of disinfection 
        (Saini et al., 2020). Based on this method, we have operationalized a PPE disinfection research facility at All India Institute of Medical Sciences
        (AIIMS), New Delhi, a tertiary care medical centre in India. Considering the immense potential of this approach, we have been repeatedly approached
        by various hospitals to provide a detailed standard operating guideline to run such a facility. Herein, we present a step-by-step illustrative guide
        that we believe would be helpful to operationalize a PPE disinfection facility at health care settings. This guide incorporates elements and steps
        of biosafety necessary to handle used PPE during COVID-19 settings and can be adapted for various methods of PPE disinfection, and various pathogens.
    </p>
    <p>
        This protocol describes a rapid protein extraction method for the archaeon Candidatus Vulcanisaeta moutnovskia,
        which can be also implemented for other archaea. The utilization of two different methods for protein extraction constitute the main step of 
        the protocol. Method I involves the extraction with a multi-chaotropic lysis buffer containing a non-denaturing zwitterionic detergent, most
        efficient for extracting cytosolic proteins. Method II involves a denaturing anionic detergent allowing total disruption of the membranes and
        capable of extracting both membrane (hydrophobic) and non-membrane (water-soluble, hydrophilic) proteins. The big advantage of the methods is
        to use general laboratory chemicals to make powerful extraction buffers, resulting in high quality and quantity of proteins. The methods probably
        are usable for any other archaea or microbial cells, and takes about 14-22 h. Following extraction and further protein digestion, 1D-nano Liquid
        Chromatography Electrospray Ionization Tandem Mass Spectrometric (LC ESI-MSMS) analysis with Triple TOF 5600 and Orbitrap technologies were used
        for protein identification and further quantification.
    </p>
    {{{ hypothesisScript }}}
</body>
</html>


